extends layout

block content
  h1 Welcome to reefbreak!
  h3
    | An online polling system with multiple winner selection methods. Unfortunately, you can't create a poll on reefbreakyet... so go to this 
    a(href='http://strawpoll.me') better website 
    | until I finish.
