extends layout

block content
  h1 Welcome to reefbreak!
  h3
    | An online polling system with multiple winner selection methods. How about you 
    a(href='http://github.com/sclark/reefbreak') help us out
    |  or 
    a(href='/new') make a new poll
    | ?
