doctype html
html
  head
    title reefbreak
    link(rel='stylesheet', type='text/css', href='/style.css')
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Montserrat:400,700')
  body
    #header
      span#logo
        a.no-dots(href='/') &#x1f30a; reefbreak
    #main
      #content
        block content
