extends layout

block content
  script.
    function checkPollName() {
      var name = document.getElementById('name');
      if (name.value !== '') {
        var ajax = new XMLHttpRequest();
        ajax.onreadystatechange = function() {
          if (ajax.readyState === 4 && ajax.status === 200) {
            if (JSON.parse(ajax.responseText).pollExists) name.classList.add('error');
            else name.classList.remove('error');
          }
        }
        ajax.open("GET", "/api/v1/poll-exists/"+name.value, true);
        ajax.send();
      }
      else name.classList.add('error');
    }
    function validate() {
      var prompt = document.getElementById('prompt');
      var name = document.getElementById('name');
      var time = document.getElementById('time');
      var method = document.getElementById('method');
      var option = document.getElementById('option-0');
      var valid = true;
      [prompt, name, time, method, option].forEach(function(elem, i, arr) {
        if (elem.value === '') elem.classList.add('error');
        else elem.classList.remove('error');
        valid = valid && elem.value != '';
      });
      checkPollName();
      return valid;
    }
    function moreOptions() {
      var n = parseInt(document.getElementById('option-n').value);
      var p = document.createElement('p');
      p.classList.add('wide');
      var option = document.createElement('input');
      option.type = 'text';
      option.name = 'option-'+n;
      option.id = 'option-'+n;
      option.placeholder = 'another option';
      option.autocomplete = 'off';
      option.classList.add('padded');
      option.classList.add('wide');
      p.appendChild(option);
      document.getElementById('options').appendChild(p);
      document.getElementById('option-n').value = n + 1;
    }
    window.onkeyup = function() {
      var n = parseInt(document.getElementById('option-n').value);
      var more = true;
      for (var i = 0; i < n; i++) more = more && document.getElementById('option-'+i).value != '';
      if (more)  moreOptions();
    }
    window.onload = function() {
      document.getElementById('name').onchange = checkPollName;
    }

  form(action='/new', method='post', id='new-form', onsubmit='return validate()')
    h1 
      input.padded.bold.wide(type='text', name='prompt', id='prompt' placeholder='What is your poll question?', autocomplete='off')
      
    h3 
      input.padded.skinny(type='text', name='name', id='name', placeholder='your poll name', autocomplete='off')  
      |  will be a 
      select.padded(form='new-form', name='method', id='method')
        option(value='', disabled='true', selected='true') select a method
        - each method in methods
          option(value='#{method.code}') #{method.name}
      |  poll and will last 
      select.padded(form='new-form', name='time', id='time')
        option(value='', disabled='true', selected='true') select a duration
        - each time in times
          option(value='#{time.time}') #{time.name}
      | .
      
    - var n = 3;
    div#options
      - for (var i = 0; i < n; i++)
        p.wide
          input.padded.wide(type='text', name='option-'+i, id='option-'+i, placeholder=(i===0 ? 'the first option' : 'another option'), autocomplete='off') 
        
    input.hidden(type='number', name='option-n', id='option-n', value=(n), disabled='true') 
    input.padded(type='submit', value='create my poll already')  
