html, body {
  margin: 0;
  padding: 0;
}
*:focus {
    outline: none;
}
::selection {
  background-color: #00008B;
}
::-moz-selection {
  background-color: #00008B;
}

body {
  background-color: rgba(102, 153, 204, 0.75);
  color: #ecf0f1;
  font-family: Montserrat, Arial;
}
h1:first-child {
  margin-top: 0;
}
h3:last-child {
  margin-bottom: 0;
}
p:not(:last-child) {
  margin: 0 0 20px;
}
p:last-child {
  margin: 0;
}
div {
  margin: 0 0 20px;
}
a {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px dotted #ecf0f1;
}
a:hover {
  border-bottom: 2px solid #ecf0f1;
}
input {
  box-sizing: border-box;
  display: inline;
  color: #ecf0f1;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  border: solid 5px #0F356B;
  transition: border-color 0.2s ease-in-out;
}
::-webkit-input-placeholder {
   color: #ecf0f1;
}
::-moz-placeholder {
   color: #ecf0f1;
}
select {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA5ElEQVRIS+3SoUqEURDF8d8iJoPZssVoMxk02VyjUVCEDb6QSdFlX0CTCCZBsIoPYNEX0OgiMrCIyvc59wobVnbqnDn/uWdux4SrM2F/M0Ca8P+MaBm7VH+Adwzx+DW3pogOcJKG2yzYxyADRP8Me5WQU8Ry36rtyPO4xGYh5BpbeCsFhG4Rt1hJIA9Yx0uTLvumXdxhqQXyjDU8tS2RAWJuFTdY+GHyig3c//bCEkDM93CBubHZCNu4ym5UCgifQxyNDfs4zsyjXwMI/Q5i+/MS878ASn0/dbUvmAGqE0gHpv8GH5bqGhmIk7VMAAAAAElFTkSuQmCC) no-repeat right #07c;
  padding-right: 24px !important;
  border: solid 5px #0F356B;
  transition: border-color 0.2s ease-in-out;
}
input:focus, select:focus {
  border-color: #1955A9;
}
label:after {
  color: #729BB7;
  content: attr(data-rank);
}

#header {
  background: #444;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
  padding: 0;
}
#main {
  background: #07c;
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
  padding: 0;
}
#content {
  font-size: 20px;
  padding: 20px;
  overflow: hidden;
}
#logo {
  padding: 20px;
}
#access-code {
  width: 200px;
}

.poll-label {
  display: block;
  border: 5px solid #0C4BA2;
}
.poll-option:checked + .poll-label {
  border: 5px solid #0F356B;
}
.poll-option {
  display: none;
}
.poll-label.winner {
  border: 5px solid #228B22;
}
.poll-label.winner > .bar {
  background-color: #228B22;
}
.bar {
  white-space: nowrap;
  box-sizing: border-box;
  background-color: #0C4BA2;
}
.bar:hover:after {
  color: #729BB7;
  content: attr(data-votes);
}

.no-dots {
  border-bottom: none;
}
.no-ul {
  border-bottom: none;
}
.no-ul:hover {
  border-bottom: none;
}
.wide {
  width: 100%;
}
.skinny {
  width: 200px;
}
.bold {
  font-weight: bold;
}
.error {
  border-color: red;
}
.error:focus {
  border-color: #DC3232;
}
.hidden {
  display: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.padded {
  padding: 5px;
}
