html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(102, 153, 204, 0.75);
  color: #ecf0f1;
  font-family: Montserrat, Arial;
}
h1:first-child {
  margin-top: 0;
}
h3:last-child {
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: inherit;
  border-bottom: 2px dotted #ecf0f1;
}
a:hover {
  border-bottom: 2px solid #ecf0f1;
}

#header {
  background: #444;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
  padding: 0;
}
#main {
  background: #07c;
  max-width: 800px;
  min-width: 600px;
  margin: 0 auto;
  padding: 0;
}
#content {
  font-size: 20px;
  padding: 20px;
  overflow: hidden;
}
#logo {
  padding: 20px;
}

.no-dots {
  border-bottom: none;
}
